autopep8==1.4.4
boto3==1.9.142
botocore==1.12.142
Django==2.2.1
django-cors-headers==2.5.3
django-storages==1.7.1
djangorestframework==3.9.3
docutils==0.14
entrypoints==0.3
flake8==3.7.7
jmespath==0.9.4
mccabe==0.6.1
psycopg2==2.8.2
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.3
